<footer>
  <div class="footer-container">
    <!-- Información de Contacto -->
    <div class="contact-info">
      <h3>Contáctanos</h3>
      <p>Email: sgradosa2&#64;upao.edu.pe</p>
      <p>Teléfono: +51 922 940 907</p>
      <p>Dirección: Av. América Sur 3145, Trujillo 13008, Perú</p>
    </div>
    <!-- Enlaces Útiles -->
    <div class="useful-links">
      <h3>Enlaces</h3>
      <a href="#">Sobre Nosotros</a>
      <a href="#">Servicios</a>
      <a href="#">Política de Privacidad</a>
      <a href="#">Términos y Condiciones</a>
    </div>

    <!-- Copyright -->
    <div class="footer-bottom">
      <p>&copy; 2024 GRUPO 10</p>
    </div>
  </div>
</footer>
